	<div class="span3 sidespan">
		<% if params[:action] != 'index' %>
		  <div class="block">
			  <h3 class="block_header font">
			    <%= t(".pdf_header") %>
			  </h3>

			  <div class="block_body">
			    <%= link_to t('.pdf_link'), {:format => :pdf}, :class => :blue %>
			  </div>
		  </div>
		<% end %>

    <div class="block">
      <h3 class="block_header font">
				<%= @economic_category.name %>
      </h3>

			<% if params[:action] != 'index' %>
			  <div class="block_body">
			    <%= link_to t('.view_profile'),	category_path(params[:economic_category_id]), :class => :blue %>
        </div>
      <% end %>

      <h3 class="block_header font">
        <%= t('.platform_header') %>
      </h3>

			<div class="block_body">
			  <% if @platforms && !@platforms.empty? %>
				  <ul class="blue normal p">
					  <% @platforms.each do |platform| %>
						  <li>
							  <%= link_to platform.political_party_name,
								category_platform_path(:economic_category_id => params[:economic_category_id],
								:political_party_id => platform.political_party_permalink) %>
						  </li>
					  <% end %>
				  </ul>
			  <% else %>
				  <%= t('.no_platforms') %>
			  <% end %>
      </div>

      <h3 class="block_header font">
        <%= t('.policy_brief_header') %>
      </h3>

			<div class="block_body">
			  <% if @policy_briefs && !@policy_briefs.empty? %>
				  <ul class="blue normal p">
					  <% @policy_briefs.each do |policy_brief| %>
						  <li>
							  <%= link_to policy_brief.political_party_name,
								category_policy_brief_path(:economic_category_id => params[:economic_category_id],
								:political_party_id => policy_brief.political_party_permalink) %>
						  </li>
					  <% end %>
				  </ul>
			  <% else %>
				  <%= t('.no_policy_briefs') %>
			  <% end %>
      </div>
	  </div>

	</div>
