<% 
  page_title = @economic_category.name.clone
  page_title << " - #{@current_election.name}" if @current_election.present? 

  title page_title
%>


<div class="row">
	<div class="span9 clear">
	  <div class="block clear">

      <div class="block_body" id="content_container">

		    <div id="plat_brief_nav">
			    <div id="platforms">
				    <h2><%= t('category.well.platform_header') %></h2>
		        <% if @platforms && !@platforms.empty? %>
					    <ul>
	              <% @platforms.each do |platform| %>
			            <li>
							    <%= link_to platform.political_party_name,
								    category_platform_path(:economic_category_id => params[:economic_category_id],
								    :political_party_id => platform.political_party_permalink) %>
							    </li>
	              <% end %>
					    </ul>
		        <% end %>
			    </div>

			    <div id="briefs">
				    <h2><%= t('category.well.policy_brief_header') %></h2>
		        <% if @policy_briefs && !@policy_briefs.empty? %>
					    <ul>
	              <% @policy_briefs.each do |policy_brief| %>
			            <li>
								    <%= link_to policy_brief.political_party_name,
									    category_policy_brief_path(:economic_category_id => params[:economic_category_id],
									    :political_party_id => policy_brief.political_party_permalink) %>
							    </li>
	              <% end %>
					    </ul>
		        <% end %>
			    </div>
		    </div>

		    <h2><%= t('.statement_header', :economic_category => @economic_category.name) %></h2>
          <div id="profile_statement_chart">
				    <p><%= t('app.msgs.statement_chart_instructions') %></p>
            <div id="chart_selections">
              <%= form_tag do %>
              	<span>
              		<%= t('app.common.political_party') %>
			            <%= select_tag "political_party_id", options_from_collection_for_select(@political_parties_nav, "id", "name", params[:political_party_id])%>
              	</span>
              	<span>
              		<%= t('app.common.indicator_category') %>
			            <%= select_tag "indicator_category_id", options_from_collection_for_select(@indicator_categories, "id", "name", params[:indicator_category_id])%>
              	</span>
              	<span>
              		<%= link_to t("app.buttons.update_statements"), category_path(@economic_category.permalink),
								    :class => 'btn btn-primary btn-mini',
								    :id => 'category_chart_selections_submit' %>
              	</span>
              <% end %>
            </div>

            <div id="statement_chart"></div>
          </div>

		    <% if @statements.nil? || @statements.empty? %>
			    <p>
				    <%= t('.no_statements', :economic_category => @economic_category.name) %>
			    </p>
		    <% else %>
			    <% @statements.each do |statement| %>
				    <div class="statement_summary">
               <div class="clear">
			          <h3 style="float: left;">
				          <%= link_to l(statement.date_made, :format => :long),
							    category_statement_path(:economic_category_id => @economic_category.permalink, :id => statement.id) %>
			          </h3>
                <div style="float: left; margin-left: 20px;">
		              <%= image_tag('/assets/thumbs-up-grey.png') %>
                  <% diff = statement.votes_diff %>
                  <span style="margin: 0 5px; color: <%= diff[:color] %>;"><%= diff[:number] %></span>
		              <%= image_tag('/assets/thumbs-down-grey.png') %>
                </div>
              </div>


				      <% if user_signed_in? && can?(:manage, Statement) %>
						    <p>
							    <%= link_to t('app.buttons.edit'),
							                edit_statement_path(statement), :class => 'btn btn-mini' %>
							    <%= link_to t('app.buttons.delete'),
							                statement_path(statement),
							                :method => :delete,
							                :confirm => t('app.buttons.confirm'),
							                :class => 'btn btn-mini btn-danger' %>
						    </p>
				      <% end %>
					    <div>
						    <p>
							    <strong><%= "#{t('app.common.political_party')}:"%></strong>
							    <%= statement.political_party.name %>
						    </p>
					    </div>
					    <div class="row">
						    <div class="span4">
							    <p>
								    <strong><%= "#{t('app.common.author')}:"%></strong>
								    <%= statement.author %>
							    </p>
						    </div>
						    <div class="span4">
							    <p>
								    <strong><%= "#{t('app.common.source')}:"%></strong>
										<%= auto_link(statement.source, :urls, :target => "_blank", :class => "statement_source") do |text| %>
											<% t('app.common.view_source') %>
										<% end %>
							    </p>
						    </div>
					    </div>
					    <div>
						    <%= simple_format_no_tags truncate(statement.statement_made, :length => 200, :separator => ' ') %>
					    </div>
				    </div>
			    <% end %>

			    <%= page_navigation_links @statements %>

		    <% end %>
      </div>

    </div>
	</div>

	<% if params[:format] != "pdf" %>
		<%= render :partial => "category/well" %>
	<% end %>
</div>



<% if user_signed_in? && can?(:manage, Statement) %>
<div class="form-actions">
<%= link_to t('app.buttons.new'),
            new_statement_path,
            :class => 'btn btn-primary' %>
<%= link_to t('app.buttons.admin'), admin_path,
:class => 'btn' %>
</div>
<% end %>
