<% title t('category.platform.title', :economic_category => @economic_category.name) %>

<div class="row">
	<div class="span9">
		<h2><%= t('category.platform.secondary_title', :political_party => @political_party.name) %></h2>

		<%= simple_format @platform.description, {}, :sanitize => false %>

		<p>
			<strong><%= t('app.common.scores') %>:</strong>
		</p>
		<% if @platform.platform_scores && !@platform.platform_scores.empty? %>
			<ul class="standard">
			<% @platform.platform_scores.ordered.each do |score| %>
				<li>
					<strong><%= score.indicator_category.name %></strong>
					<br />
					<%= "#{score.value} - #{score.indicator.name}"%>
				</li>
			<% end %>
			</ul>
		<% end %>
	</div>

	<% if params[:format] != "pdf" %>
		<%= render :partial => "category/well" %>
	<% end %>
</div>

<% if user_signed_in? && can?(:manage, Platform) %>
<div class="form-actions">
  <%= link_to t('app.buttons.edit'),
              edit_platform_path(@platform), :class => 'btn' %>
  <%= link_to t('app.buttons.delete'),
              platform_path(@platform),
              :method => 'delete',
              :confirm => t('app.buttons.confirm'),
              :class => 'btn btn-danger' %>
  <%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
<% end %>
