<% title t('.title') %>


  <p><strong><%= t("app.common.political_party") %>:</strong>
  <%= @policy_brief.political_party.name %></p>

  <p><strong><%= t("app.common.economic_category") %>:</strong>
  <%= @policy_brief.economic_category.name %></p>

  <p><strong><%= t("app.common.analysis") %>:</strong></p>
<%= simple_format @policy_brief.analysis, {}, :sanitize => false %>

<% if user_signed_in? && can?(:manage, PolicyBrief) %>
<div class="form-actions">
  <%= link_to t('app.buttons.list'),
              policy_briefs_path, :class => 'btn'  %>
  <%= link_to t('app.buttons.edit'),
              edit_policy_brief_path(@policy_brief), :class => 'btn' %>
  <%= link_to t('app.buttons.delete'),
              policy_brief_path(@policy_brief),
              :method => 'delete',
              :confirm => t('app.buttons.confirm'),
              :class => 'btn btn-danger' %>
  <%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
<% end %>
