<%= semantic_form_for(@political_party) do |f| %>
	<%= f.error_messages %>

	<%= f.inputs do %>
	  <%#= f.input :election_id, :as => :select, :collection => Election.sorted, :include_blank => false %>
    <div class="control-group checkbox-group" id="political_party_election_id_input">
      <label class=" control-label" for="platform_election_id"><%= t('activerecord.attributes.political_party.election') %><abbr title="required">*</abbr></label>
      <div class="controls">
        <%= hidden_field_tag "political_party[election_ids][]", nil%>
        <% Election.sorted.each do |election| %>
              <label class="checkbox">
                  <%= check_box_tag "political_party[election_ids][]", election.id, @political_party.election_ids.include?(election.id), id: dom_id(election) %>
                  <%= election.name %>
              </label>
        <% end %>
      </div>
    </div>
	<% end %>

  <% create_sorted_translation_objects(@political_party.political_party_translations).each do |trans| %>
    <div class="fields">
		  <%= f.fields_for :political_party_translations, trans do |translation| %>

			  <div id="form-<%= trans.locale %>" class="multilanguage_nested">
				  <h3><%= t("app.language.#{trans.locale}") %></h3>

				  <%= translation.input :name %>
				  <%= translation.hidden_field :locale , :value => trans.locale %>
			  </div>
  	  <% end %>
	  </div>
  <% end %>

	<%= f.inputs do %>
		<%= f.input :color, :input_html => {:size => 10} %>
		<%= f.input :logo, :as => :file %>
		<% if @political_party.logo_file_name %>
			<%= image_tag @political_party.logo.url %>
		<% end %>

	<% end %>

	<div class="form-actions">
	  <%= f.submit nil, :class => 'btn btn-success' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), political_parties_path, :class => 'btn btn-mini btn-warning' %>
	</div>
<% end %>
