<% title t('.title') %>

<div class="form-actions">
<%= link_to t('app.buttons.new'),
            new_political_party_path,
            :class => 'btn btn-primary' %>
<%= link_to t('app.buttons.admin'), admin_path,
:class => 'btn' %>
</div>

<%= select_tag :election_id, options_from_collection_for_select(@elections_w_parties, :id, :name, params[:election_id]), {:include_blank => true, :class => :index_election_filter} %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('app.common.name') %></th>
      <th><%= t('activerecord.attributes.political_party.election') %></th>
      <th><%= t('app.common.logo') %></th>
      <th><%= t('app.common.color') %></th>
      <th><%= t('app.common.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @political_parties.each do |political_party| %>
      <tr>
        <td><%= political_party.name %></td>
        <td><%= political_party.elections_sorted.map{|x| x.name}.join("<br />").html_safe %></td>
        <td><%= image_tag(political_party.logo.url) if political_party.logo_file_name %></td>
        <td><span style="background-color: <%= "#{political_party.color}" %>;">&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
        <td>
          <%= link_to t('app.buttons.edit'),
                      edit_political_party_path(political_party), :class => 'btn btn-mini' %>
          <%= link_to t('app.buttons.delete'),
                      political_party_path(political_party),
                      :method => :delete,
                      :confirm => t('app.buttons.confirm'),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

