<% title t('.title') %>

<div class="form-actions">
	<%= link_to t('app.buttons.new'),
		          new_platform_path,
		          :class => 'btn btn-primary' %>
	<%= link_to t('app.buttons.admin'), admin_path,
	:class => 'btn' %>
</div>

<% if @platforms.nil? || @platforms.empty? %>
	<p>
		<%= t('.no_platforms') %>
	</p>
<% else %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("app.common.date") %></th>
      <th><%= t("app.common.political_party") %></th>
      <th><%= t("app.common.economic_category") %></th>
      <th><%= t("app.common.is_public") %></th>
      <th><%= t('app.common.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @platforms.each do |platform| %>
      <tr>
        <td><%=link_to(l(platform.created_at, :format => :long), platform_path(platform)) %></td>
        <td><%= platform.political_party.name %></td>
        <td><%= platform.economic_category.name %></td>
        <td><%= platform.is_public %></td>
        <td>
          <%= link_to t('app.buttons.edit'),
                      edit_platform_path(platform), :class => 'btn btn-mini' %>
          <%= link_to t('app.buttons.delete'),
                      platform_path(platform),
                      :method => :delete,
                      :confirm => t('app.buttons.confirm'),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

	<%= page_navigation_links @platforms %>

<% end %>
