<% ip = request.remote_ip %>

<div class="comments" style="padding-top: 15px;">
  <h4 style="font-weight: bold; margin-bottom: 7px;"><%= t('app.common.comments') %></h4>
  <% @comments.each do |comment| %>
    <div class="comment clear" style="margin-bottom: 3px; border-bottom: 1px solid #ccc; padding: 8px 14px 10px 15px; background: url('/assets/block-bg.jpg') repeat; border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.05); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); ">
      <div class="body">
        <%= simple_format comment.comment %>
      </div>
      <div class="header" style="font-size: 9px; padding-left: 3px; margin-top: 8px;">
        <span class="date"><%= l comment.created_at, :format => :long %></span>
        <span class="vote" style="margin-left: 15px;">
          <% if comment.voted(ip, 'up') %>
            <%= image_tag('/assets/thumbs-up-grey.png') %>
          <% else %>
            <%= link_to image_tag('/assets/thumbs-up.png'),   vote_path(:type => 'comment', :votable_id => comment.id, :status => 'up') %>
          <% end %>
		      <span class="vote-results" style="margin: 0 5px;">
		        <% diff = comment.votes_diff %>
		        <span style="color: <%= diff[:color] %>;"><%= diff[:number] %></span>
		      </span>
          <% if comment.voted(ip, 'down') %>
            <%= image_tag('/assets/thumbs-down-grey.png') %>
          <% else %>
            <%= link_to image_tag('/assets/thumbs-down.png'), vote_path(:type => 'comment', :votable_id => comment.id, :status => 'down') %>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>
