<% title t('.title') %>

<div class="admin_panel row-fluid">
  <% if current_user.role? :author %>
   <div class="span4">
 		<h3><%= t('.statements_header')%></h3>
 		<ul class="standard">
 			<li>
 				<%= link_to t('.view_statements'), statements_path %>
 			</li>
 			<li>
 				<%= link_to t('.new_statement'), new_statement_path %>
 			</li>
 		</ul>
  </div>
  <% end %>
  <% if current_user.role? :user_manager %>
   <div class="span4">
 		<h3><%= t('.users_header')%></h3>
 		<ul class="standard">
 			<li>
       <%= link_to t('.view_users'), admin_users_path %>
      </li>
 			<li>
       <%= link_to t('.new_users'), new_admin_user_path %>
      </li>
 		</ul>
  </div>
  <% end %>
  <% if current_user.role? :admin %>
   <div class="span4">
 		<h3><%= t('.basic_header')%></h3>
 		<ul class="standard">
 			<li>
 				<%= link_to t('.political_parties'), political_parties_path %>
 			</li>
 			<li>
 				<%= link_to t('.economic_categories'), economic_categories_path %>
 			</li>
 			<li>
 				<%= link_to t('.indicator_categories'), indicator_categories_path %>
 			</li>
 			<li>
 				<%= link_to t('.indicators'), indicators_path %>
 			</li>
 			<li>
 				<%= link_to t('.pages'), pages_path %>
 			</li>
 			<li>
 				<%= link_to t('.platforms'), platforms_path %>
 			</li>
 			<li>
 				<%= link_to t('.policy_briefs'), policy_briefs_path %>
 			</li>
 		</ul>
  </div>
  <% end %>
</div>
