<%= semantic_form_for(@statement) do |f| %>
	<%= f.error_messages %>


	<%= f.inputs do %>
		<%= f.input :date_made, :as => :string, :input_html => {:size => 20} %>
	<% end %>

  <%= f.inputs :for => :statement_translations do |translation, i| %>

  	<% formLocale = I18n.available_locales[i-1] %>

  	<div id="form-<%= formLocale %>" class="multilanguage">
  		<h3><%= t("app.language.#{formLocale}") %></h3>

  		<%= translation.input :source %>
  		<%= translation.input :author %>
  		<%= translation.input :statement_made, :as => :text, :input_html => {:rows => 4, :cols => 100} %>
  		<%= translation.hidden_field :locale , :value => formLocale %>
  	</div>

  <% end %>

	<%= f.inputs do %>
		<%= f.input :political_party %>
		<%= f.input :economic_category %>
	<% end %>

  <% if @indicator_categories && !@indicator_categories.empty? %>
		<%= f.inputs :for => :statement_scores do |scores, i| %>
			<% cat = @indicator_categories[i-1] %>
			<% if !cat.indicators.nil? && !cat.indicators.empty? %>
	  		<%= scores.hidden_field :indicator_category_id , :value => cat.id %>
				<%= scores.input :value, :as => :radio, :collection => cat.indicators.map{|x| ["#{x.value} - #{x.name}", x.value]}, :label => cat.name %>
			<% end %>
		<% end %>
	<% end %>



  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), statements_path, :class => 'btn btn-mini btn-warning' %>
  </div>
<% end %>
