<%= semantic_form_for(@statement) do |f| %>
	<%= f.error_messages %>


	<%= f.inputs do %>
		<%= f.input :date_made, :as => :string, :input_html => {:size => 20} %>
	  <%= f.input :election_id, :as => :select, :collection => @elections_w_parties, :include_blank => false %>
		<%= f.input :political_party, :collection => PoliticalParty.by_election(@statement.election_id.blank? ? @elections_w_parties.first.id : @statement.election_id).sorted %>
		<%= f.input :economic_category, :collection => @economic_categories_nav %>
	<% end %>

  <% create_sorted_translation_objects(@statement.statement_translations).each do |trans| %>
    <div class="fields">
		  <%= f.fields_for :statement_translations, trans do |translation| %>

			  <div id="form-<%= trans.locale %>" class="multilanguage_nested">
				  <h3><%= t("app.language.#{trans.locale}") %></h3>

				  <%= translation.input :source %>
				  <%= translation.input :author %>
				  <%= translation.input :statement_made, :as => :text, :input_html => {:rows => 10, class: 'tinymce'} %>
				  <%= translation.input :analysis, :as => :text, :input_html => {:rows => 10, class: 'tinymce'} %>
				  <%= translation.hidden_field :locale , :value => trans.locale %>
			  </div>

		  <% end %>
		</div>
	<% end %>

  <% order_scores(@statement.statement_scores).each do |score| %>
    <% if @indicator_categories && !@indicator_categories.empty? %>
  		<%= f.fields_for :statement_scores, score do |scores| %>
  			<% cat = @indicator_categories.select{|x| x.id == score.indicator_category_id} %>
  			<% if cat && !cat.first.indicators.nil? && !cat.first.indicators.empty? %>
					<div class="radio_button_scores">
			  		<%= scores.hidden_field :indicator_category_id , :value => cat.first.id %>
						<%= scores.input :combined, :as => :radio,
						  :collection => cat.first.indicators.map{|x| ["#{x.value} - #{x.name}", "#{x.id}||#{x.value}"]},
						  :label => cat.first.name %>
					</div>
  			<% end %>
  		<% end %>
  	<% end %>
  <% end %>

	<hr />
	<%= f.inputs do %>
		<%= f.input :is_public, :as => :radio %>
	<% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), statements_path, :class => 'btn btn-mini btn-warning' %>
  </div>
<% end %>


<%= tinymce_assets %>
<%= tinymce %>