<% title t('.title') %>

<div class="form-actions">
<%= link_to t('app.buttons.new'),
            new_statement_path,
            :class => 'btn btn-primary' %>
<%= link_to t('app.buttons.admin'), admin_path,
:class => 'btn' %>
</div>

<% if @statements.nil? || @statements.empty? %>
	<p>
		<%= t('.no_statements') %>
	</p>
<% else %>
  <% @statements.each do |statement| %>
		<div class="statement_summary">
			<h3>
				<%= l statement.date_made, :format => :long %>
			</h3>
			<div class="row">
				<div class="span4">
					<p>
						<strong><%= "#{t('app.common.political_party')}:"%></strong>
						<%= statement.political_party.name %>
					</p>
				</div>
				<div class="span4">
					<p>
						<strong><%= "#{t('app.common.economic_category')}:"%></strong>
						<%= statement.economic_category.name %>
					</p>
				</div>
				<div class="span4">
					<p>
						<p><strong><%= t("app.common.is_public") %>:</strong>
						<%= statement.is_public %></p>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<p>
						<strong><%= "#{t('app.common.author')}:"%></strong>
						<%= statement.author %>
					</p>
				</div>
				<div class="span4">
					<p>
						<strong><%= "#{t('app.common.source')}:"%></strong>
						<%= statement.source %>
					</p>
				</div>
			</div>
			<div>
				<%= simple_format_no_tags truncate(statement.statement_made, :length => 200, :separator => ' ') %>
			</div>
			<div>
				<%= link_to t('.view_statement'),
					statement_path(:id => statement.id),
					:class => 'btn btn-mini' %>
		    <%= link_to t('app.buttons.edit'),
		                edit_statement_path(statement), :class => 'btn btn-mini' %>
		    <%= link_to t('app.buttons.delete'),
		                statement_path(statement),
		                :method => :delete,
		                :confirm => t('app.buttons.confirm'),
		                :class => 'btn btn-mini btn-danger' %>
			</div>
		</div>
	<% end %>

	<%= page_navigation_links @statements %>

<% end %>
