<% title t('.title') %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('app.common.date_made') %></th>
      <th><%= t('app.common.pol_party') %></th>
      <th><%= t('app.common.ec_category') %></th>
      <th><%= t('app.common.source') %></th>
      <th><%= t('app.common.author') %></th>
      <th><%= t('app.common.statement') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td><%= link_to l(statement.date_made), statement_path(statement) %></td>
        <td><%= statement.political_party.name %></td>
        <td><%= statement.economic_category.name %></td>
        <td><%= statement.source %></td>
        <td><%= statement.author %></td>
        <td><%= statement.statement_made %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_statement_path(statement), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      statement_path(statement),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_statement_path,
            :class => 'btn btn-primary' %>
<%= link_to t('app.buttons.admin'), admin_path,
:class => 'btn' %>
</div>
<% end %>