<% title t('.title', :political_party => @political_party.name) %>

	<%= render :partial => "statements/statement_show",
			:locals => {:statement => @statement, :type => Statement::TYPE[0], :type_id => @political_party.permalink}%>

<% if user_signed_in? && can?(:manage, Statement) %>
<div class="form-actions">
  <%= link_to t('app.buttons.list'),
              statements_path, :class => 'btn'  %>
  <%= link_to t('app.buttons.edit'),
              edit_statement_path(@statement), :class => 'btn' %>
  <%= link_to t('app.buttons.delete'),
              statement_path(@statement),
              :method => 'delete',
              :confirm => t('app.buttons.confirm'),
              :class => 'btn btn-danger' %>
  <%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
<% end %>
