<% title t('.title', :political_party => @political_party.name) %>

	<%= render :partial => "statements/statement_show",
			:locals => {:statement => @statement, :type => Statement::TYPE[0], :type_id => @political_party.permalink}%>

<% if user_signed_in? && can?(:manage, Statement) %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              statements_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_statement_path(@statement), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              statement_path(@statement),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
  <%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
<% end %>
