<% title t('.title') %>

<p>
  <strong><%= t('app.common.date_made') %>:</strong>
  <%= l @statement.date_made, :format => :long %>
</p>

<p>
  <strong><%= t('app.common.pol_party') %>:</strong>
  <%= @statement.political_party.name %>
</p>

<p>
  <strong><%= t('app.common.ec_category') %>:</strong>
  <%= @statement.economic_category.name %>
</p>

<p>
  <strong><%= t('app.common.source') %>:</strong>
  <%= @statement.source %>
</p>
<p>
  <strong><%= t('app.common.author') %>:</strong>
  <%= @statement.author %>
</p>
<p>
  <strong><%= t('app.common.statement') %>:</strong>
</p>
<%= simple_format @statement.statement_made, {}, :sanitize => false %>

<% if @statement.analysis && !@statement.analysis.empty? %>
<p>
  <strong><%= t('app.common.analysis') %>:</strong>
</p>
<%= simple_format @statement.analysis, {}, :sanitize => false %>
<% end %>

<p>
  <strong><%= t('app.common.scores') %>:</strong>
</p>
<% if @statement.statement_scores && !@statement.statement_scores.empty? %>
	<ul class="standard">
	<% @statement.statement_scores.ordered.each do |score| %>
		<li>
		  <strong><%= score.indicator_category.name %></strong>
		  <br />
		  <%= "(#{score.value}) #{score.indicator.name}"%>
		</li>
	<% end %>
	</ul>
<% end %>

<% if user_signed_in? %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              statements_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_statement_path(@statement), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              statement_path(@statement),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
  <%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
<% end %>