	<div class="span3">
		<% if params[:action] != 'index' %>
		<div class="well well-small">
			<h4><%= t('.pdf_header') %></h4>
				<ul>
					<li>
						<%= link_to t('.pdf_link'),	{:format => :pdf } %>
					</li>
				</ul>
		</div>
		<% end %>
		<div class="well well-small">
			<h3>
				<%= image_tag(@political_party.logo.url, :style => 'vertical-align: middle;') if @political_party.logo_file_name %>
				<%= @political_party.name %>
			</h3>

			<% if params[:action] != 'index' %>
				<h4><%= t('.profile_header') %></h4>
				<ul>
					<li>
						<%= link_to t('.view_profile'),	party_path(params[:political_party_id]) %>
					</li>
				</ul>
			<% end %>

			<h4><%= t('.platform_header') %></h4>
			<% if @platforms && !@platforms.empty? %>
				<ul>
					<% @platforms.each do |platform| %>
						<li>
							<%= link_to platform.economic_category_name,
								party_platform_path(:political_party_id => params[:political_party_id],
								:economic_category_id => platform.economic_category_permalink) %>
						</li>
					<% end %>
				</ul>
			<% else %>
				<%= t('.no_platforms') %>
			<% end %>

			<h4><%= t('.policy_brief_header') %></h4>
			<% if @policy_briefs && !@policy_briefs.empty? %>
				<ul>
					<% @policy_briefs.each do |policy_brief| %>
						<li>
							<%= link_to policy_brief.economic_category_name,
								party_policy_brief_path(:political_party_id => params[:political_party_id],
								:economic_category_id => policy_brief.economic_category_permalink) %>
						</li>
					<% end %>
				</ul>
			<% else %>
				<%= t('.no_policy_briefs') %>
			<% end %>
		</div>
	</div>
