	<div class="span3 sidespan">
		<% if params[:action] != 'index' %>
		  <div class="block">
			  <h3 class="block_header font">
			    <%= t("party.well.pdf_header") %>
			  </h3>

			  <div class="block_body">
			    <%= link_to t('party.well.pdf_link'), {:format => :pdf}, :class => :blue %>
			  </div>
		  </div>
		<% end %>

    <div class="block">
      <% if @current_election.present? %>
        <h3 class="block_header font">
				  <%= @current_election.name %>
        </h3>
      <% end %>

      <h3 class="block_header font">
				<%= image_tag(@political_party.logo.url, :style => 'vertical-align: middle;') if @political_party.logo_file_name %>
				<%= @political_party.name %>
      </h3>

			<% if params[:action] != 'index' %>
			  <div class="block_body">
			    <%= link_to t('party.well.view_profile'),	party_path(params[:political_party_id]), :class => :blue %>
        </div>
      <% end %>

      <h3 class="block_header font">
        <%= t('party.well.platform_header') %>
      </h3>

			<div class="block_body">
			  <% if @platforms && !@platforms.empty? %>
				  <ul class="blue normal p">
					  <% @platforms.each do |platform| %>
						  <li>
							  <%= link_to platform.economic_category_name,
								  party_platform_path(:political_party_id => params[:political_party_id],
								  :economic_category_id => platform.economic_category_permalink) %>
						  </li>
					  <% end %>
				  </ul>
			  <% else %>
				  <%= t('party.well.no_platforms') %>
			  <% end %>
      </div>

      <h3 class="block_header font">
        <%= t('party.well.policy_brief_header') %>
      </h3>

			<div class="block_body">
			  <% if @policy_briefs && !@policy_briefs.empty? %>
				  <ul class="blue normal p">
					  <% @policy_briefs.each do |policy_brief| %>
						  <li>
							  <%= link_to policy_brief.economic_category_name,
								  party_policy_brief_path(:political_party_id => params[:political_party_id],
								  :economic_category_id => policy_brief.economic_category_permalink) %>
						  </li>
					  <% end %>
				  </ul>
			  <% else %>
				  <%= t('party.well.no_policy_briefs') %>
			  <% end %>
      </div>
	  </div>

	</div>
