<% title t('party.policy_brief.title', :political_party => @political_party.name) %>
<% sub_title t('party.policy_brief.secondary_title', :economic_category => @economic_category.name) %>
<% title_image @political_party.logo.url if @political_party.logo_file_name %>

<div class="row">
	<div class="span9">
		<h2><%= t('party.policy_brief.secondary_title', :economic_category => @economic_category.name) %></h2>

		<%= simple_format_no_tags @policy_brief.analysis, {}, :sanitize => false %>

		<% if params[:format] != "pdf" %>
			<%= render :partial => 'comments/list', :locals => {:commentable_type => 'policybrief', :commentable_id => @policy_brief.id} %>
		  <%= render :partial => 'comments/form', :locals => {:commentable_type => 'policybrief', :commentable_id => @policy_brief.id} %>
		<% end %>
	</div>

	<% if params[:format] != "pdf" %>
		<%= render :partial => "party/well" %>
	<% end %>
</div>

<% if user_signed_in? && can?(:manage, Platform) %>
<div class="form-actions">
  <%= link_to t('app.buttons.edit'),
              edit_policy_brief_path(@policy_brief), :class => 'btn' %>
  <%= link_to t('app.buttons.delete'),
              policy_brief_path(@policy_brief),
              :method => 'delete',
              :confirm => t('app.buttons.confirm'),
              :class => 'btn btn-danger' %>
  <%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
<% end %>
