<% title t('party.statement.title', :political_party => @political_party.name) %>
<% sub_title t('party.statement.secondary_title', :date => l(@statement.date_made, :format => :long)) %>
<% title_image @political_party.logo.url if @political_party.logo_file_name %>

<div class="row">

  <div class="span9 clear">
    <div class="block clear">
      <div class="block_header clear">
        <div class="left">
          <h3>
            <%#= "#{t('app.common.political_party')}:"%>
            <%= @statement.political_party.name %>
          </h3>
          <span><%= t('party.statement.secondary_title', :date => l(@statement.date_made, :format => :long)) %></span>
        </div>
        <% if params[:format] != "pdf" %>
          <div class="right" id="voting">
            <%= votes_cont(@statement) %>
          </div>
        <% end %>
      </div>

      <div class="block_body">

        <span class="font"><%= "#{t('app.common.economic_category')}:"%></span>
        <%= @statement.economic_category.name %>
        <br />

        <span class="font"><%= "#{t('app.common.author')}:"%></span>
        <%= @statement.author %>
        <br />

        <span class="font"><%= "#{t('app.common.source')}:"%></span>
        <%= auto_link(@statement.source, :urls, :target => "_blank") %>
        <br />
        <br />

        <p class="font"><%= "#{t('app.common.statement')}:"%></p>
        <%= simple_format_no_tags @statement.statement_made, {}, :sanitize => false %>

        <% if @statement.analysis && !@statement.analysis.empty? %>
          <p>
            <strong><%= t('app.common.analysis') %>:</strong>
          </p>
          <%= simple_format_no_tags @statement.analysis, {}, :sanitize => false %>
        <% end %>
        <br />

        <p class="font"><%= "#{t('app.common.scores')}:"%></p>
        <% if @statement.statement_scores && !@statement.statement_scores.empty? %>
          <ul class="normal">
          <% @statement.statement_scores.ordered.each do |score| %>
            <li>
              <strong><%= score.indicator_category.name %></strong>
              <br />
              <%= "#{score.value} - #{score.indicator.name}"%>
            </li>
          <% end %>
          </ul>
        <% end %>

      </div>

      <% if params[:format] != "pdf" %>
        <%= render :partial => 'comments/list', :locals => {:commentable_type => 'statement', :commentable_id => @statement.id} %>
        <%= render :partial => 'comments/form', :locals => {:commentable_type => 'statement', :commentable_id => @statement.id} %>
      <% end %>

    </div>
  </div>


  <% if params[:format] != "pdf" %>
    <%= render :partial => "party/well" %>
  <% end %>


</div>

<% if user_signed_in? && can?(:manage, Statement) %>
<div class="form-actions">
  <%= link_to t('app.buttons.list'),
              statements_path, :class => 'btn'  %>
  <%= link_to t('app.buttons.edit'),
              edit_statement_path(@statement), :class => 'btn' %>
  <%= link_to t('app.buttons.delete'),
              statement_path(@statement),
              :method => 'delete',
              :confirm => t('app.buttons.confirm'),
              :class => 'btn btn-danger' %>
  <%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
<% end %>
