<%= semantic_nested_form_for @page, :html => { :multipart => true } do |f| %>
	<%= f.error_messages %>


	<%= f.inputs do %>
		<%= f.input :name %>
	<% end %>

  <% create_sorted_translation_objects(@page.page_translations).each do |trans| %>
		<%= f.fields_for :page_translations, trans do |translation| %>

			<div id="form-<%= trans.locale %>" class="multilanguage_nested">
				<h3><%= t("app.language.#{trans.locale}") %></h3>

				<%= translation.input :title %>
				<%= translation.input :description, :as => :text, :input_html => {:rows => 4} %>
				<%= translation.hidden_field :locale , :value => trans.locale %>
			</div>

		<% end %>
	<% end %>

	<div id="nested_form_container">
		<h3><%= t("app.common.files") %></h3>
		<%= f.fields_for :page_files %>
		<p><%= f.link_to_add t(".add_file"), :page_files, :class => "btn btn-mini btn-primary" %></p>
	</div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), pages_path, :class => 'btn btn-mini btn-warning' %>
  </div>
<% end %>
