<% title t('.title') %>

<% if @pages.nil? || @pages.empty? %>
	<p>
		<%= t('.no_pages') %>
	</p>
<% else %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("app.common.name") %></th>
      <th><%= t("app.common.title") %></th>
      <th><%= t("app.common.description") %></th>
      <th><%= t('app.common.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.name, page_path(page) %></td>
        <td><%= page.title %></td>
        <td><%= simple_format_no_tags page.description, {}, :sanitize => false %></td>
        <td>
          <%= link_to t('app.buttons.edit'),
                      edit_page_path(page), :class => 'btn btn-mini' %>
          <%= link_to t('app.buttons.delete'),
                      page_path(page),
                      :method => :delete,
                      :confirm => t('app.buttons.confirm'),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<div class="form-actions">
	<%= link_to t('app.buttons.new'),
		          new_page_path,
		          :class => 'btn btn-primary' %>
	<%= link_to t('app.buttons.admin'), admin_path,
	:class => 'btn' %>
</div>
