<%= semantic_form_for(@economic_category) do |f| %>
	<%= f.error_messages %>

  <%= f.inputs :for => :economic_category_translations do |translation, i| %>

  	<% formLocale = I18n.available_locales[i-1] %>

  	<div id="form-<%= formLocale %>" class="multilanguage">
  		<h3><%= t("app.language.#{formLocale}") %></h3>

  		<%= translation.input :name %>
  		<%= translation.hidden_field :locale , :value => formLocale %>
  	</div>

  <% end %>

	<div class="form-actions">
	  <%= f.submit nil, :class => 'btn btn-success' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), economic_categories_path, :class => 'btn btn-mini btn-warning' %>
	</div>
<% end %>
