<% title t('.title') %>

<div class="form-actions">
<%= link_to t('app.buttons.new'),
            new_economic_category_path,
            :class => 'btn btn-primary' %>
<%= link_to t('app.buttons.admin'), admin_path,
:class => 'btn' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('app.common.name') %></th>
      <th><%= t('app.common.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @economic_categories.each do |economic_category| %>
      <tr>
        <td><%= economic_category.name %></td>
        <td>
          <%= link_to t('app.buttons.edit'),
                      edit_economic_category_path(economic_category), :class => 'btn btn-mini' %>
          <%= link_to t('app.buttons.delete'),
                      economic_category_path(economic_category),
                      :method => :delete,
                      :confirm => t('app.buttons.confirm'),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

