<% title t('.title') %>

<p>
  <strong><%= t('app.common.name') %>:</strong>
  <%= @economic_category.name %>
</p>

<div class="form-actions">
  <%= link_to t('app.buttons.list'),
              economic_categories_path, :class => 'btn'  %>
  <%= link_to t('app.buttons.edit'),
              edit_economic_category_path(@economic_category), :class => 'btn' %>
  <%= link_to t('app.buttons.delete'),
              economic_category_path(@economic_category),
              :method => 'delete',
              :confirm => t('app.buttons.confirm'),
              :class => 'btn btn-danger' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
