<% 
  title t('.title')
  election_sub_title @current_election.name if @current_election.present? 

%>

<div class="row">
	<div class="span9">
	  <div class="block clear">

      <div class="block_body" id="content_container">

				<% if @political_parties_nav.present? %>
					<div id="political_party_colors">
            <% party_rows = @political_parties_nav.length / 3 %>
            <% (0..party_rows).each do |row| %>            
              <% 
                row_start = row*3
                row_end = (row*3)+2
              %>
              
						  <div class="clear">
							  <% @political_parties_nav[row_start..row_end].each do |party| %>
								  <div>
								    <div class="colors"><span style="background-color: <%= "#{party.color}" %>;">&nbsp;&nbsp;&nbsp;</span></div>
								    <div class="party_names"><%= party.name %></div>
							    </div>
							  <% end %>
						  </div>
            <% end %>
					</div>
				<% end %>

    		<div id="charts">
    			<% if !@values || @values.empty? %>
    				<p>
    					<%= t('.no_values')%>
    				</p>
    			<% else %>
    				<% @values.each_with_index do |value, i| %>
    					<% if i%2 == 0 %>
    						<div class="chart_row row">
    					<% end %>

    						<div class="span4">
    						  <h3><%= value[:name] %></h3>
    						  <div id="<%= "#{value[:div_id]}"%>"></div>
    						</div>

    					<% if i%2 == 1 || i==@values.length-1%>
    						</div>
    					<% end %>
    				<% end %>

    			<% end %>
    		</div>
    	</div>
    </div>
  </div>


	<div class="span3 sidespan">
<%
=begin %>
	  <div class="block">
		  <h3 class="block_header font">
			  <%= t('app.common.political_parties')%>
			</h3>
			<% if @political_parties_nav && !@political_parties_nav.empty? %>
			  <h4></h4>
			  <div class="block_body">
  				<ul>
  				  <% @political_parties_nav.each_with_index do |party,i| %>
  				    <li>
  				      <span style="background-color: <%= "#{party.color}" %>;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
  				      <%= party.name %>
  				    </li>
  				  <% end %>
  				</ul>
        </div>
			<% end %>
		</div>
<%
=end %>
	  <div class="block">
		  <div class="block_body block_body_small">
				<ul>
			    <li>
						<strong><%= t('app.scales.indicator_category_id_5.top') %>:</strong>
						<%= t('.left') %>
			    </li>
			    <li>
						<strong><%= t('app.scales.indicator_category_id_5.middle') %>:</strong>
						<%= t('.center') %>
			    </li>
			    <li>
						<strong><%= t('app.scales.indicator_category_id_5.bottom') %>:</strong>
						<%= t('.right') %>
			    </li>
				</ul>
      </div>
		</div>
	</div>
</div>
