<div class="row">
	<div class="span9">
		<div id="title_dropdowns">
			<h1 id="<%= I18n.locale %>">
				<% if I18n.locale == :en %>
					<%= t('.title1')%><br />
					<span id="big_red_block"><%= t('.title2')%></span><br />
					<span id="line3"><%= t('.title3')%></span><span id="big_red_inline">?</span>
				<% else %>
					<%= t('.title1')%><br />
					<span id="line2"><%= t('.title2')%></span><br />
					<span id="big_red_block"><%= t('.title3')%>?</span>
				<% end %>
			</h1>
			<div id="nav_buttons">
		    <% if @political_parties_nav && !@political_parties_nav.empty? %>
					<div class="btn-group">
						<button class="btn"><%= t('app.common.political_party')%></button>
						<button class="btn dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
		          <% @political_parties_nav.each do |pol| %>
		          <li><%= link_to pol.name, party_path(pol.permalink)%></li>
		          <% end %>
						</ul>
					</div>
		    <% end %>

		    <% if @economic_categories_nav && !@economic_categories_nav.empty? %>
					<div class="btn-group">
						<button class="btn"><%= t('app.common.economic_category')%></button>
						<button class="btn dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
		          <% @economic_categories_nav.each do |ec| %>
		          <li><%= link_to ec.name, category_path(ec.permalink)%></li>
		          <% end %>
						</ul>
					</div>
				</div>
      <% end %>

		</div>

		<div id="charts">
			<h2><%= t('.chart_title')%></h2>
			<% if !@values || @values.empty? %>
				<p>
					<%= t('.no_values')%>
				</p>
			<% else %>
				<div id="legend">
					<h3><%= t('app.common.legend')%></h3>
					<div id="legend_content" class="row-fluid">
						<div id="political_party_scales" class="span4">
						  <% if @political_parties_nav && !@political_parties_nav.empty? %>
						    <h3><%= t('app.common.political_parties')%></h3>
						    <div id="political_party_scales_scales_content">
						      <ul>
						        <% @political_parties_nav.each_with_index do |party,i| %>
						          <li>
						            <span style="background-color: <%= "#{party.color}" %>;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
						            <%= party.name %>
						          </li>
						        <% end %>
						      </ul>
						    </div>
						  <% end %>
						</div>
						<div id="indicator_scales" class="span8">
						  <% if @indicators && !@indicators.empty? %>
						    <h3><%= t('app.common.indicator_scales')%></h3>
						    <div id="indicator_scales_content">
						      <ul class="standard">
						      <% @indicators.each do |indicator| %>
										<% if indicator.value != 0 %>
							        <li value="<%= indicator.value-4 %>"><%= indicator.name %></li>
										<% end %>
						      <% end %>
						      </ol>
						    </div>
						  <% end %>
						</div>
					</div>
				</div>

				<% @values.each_with_index do |value, i| %>
					<% if i%2 == 0 %>
						<div class="chart_row row">
					<% end %>

						<div class="span4">
						  <h3><%= value[:name] %></h3>
						  <div id="<%= "#{value[:div_id]}"%>"></div>
						</div>

					<% if i%2 == 1 || i==@values.length-1%>
						</div>
					<% end %>
				<% end %>

			<% end %>
		</div>
	</div>

	<div class="span3">
		<div class="well well-small">
			<h4><%= t('.latest_statements_header') %></h4>
			<% if !@statements || @statements.empty? %>
				<%= t('statements.index.no_statements') %>
			<% else %>
				<ul>
					<% @statements.each do |statement| %>
						<li>
							<%= link_to "#{l(statement.date_made, :format => :short)} - #{statement.political_party.name}",
									"#",
									:title => "#{statement.economic_category.name}" %>
						</li>
					<% end %>
				</ul>
			<% end %>
		</div>
		<div class="well well-small">
			<h4><%= t('.about_header') %></h4>
		</div>
	</div>
</div>
