<% title t('.title') %>

<div class="form-actions">
  <%= link_to t('app.buttons.list'),
              indicators_path, :class => 'btn'  %>
  <%= link_to t('app.buttons.edit'),
              edit_indicator_path(@indicator), :class => 'btn' %>
  <%= link_to t('app.buttons.delete'),
              indicator_path(@indicator),
              :method => 'delete',
              :confirm => t('app.buttons.confirm'),
              :class => 'btn btn-danger' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>

<p>
  <strong><%= t('app.common.ind_category') %>:</strong>
  <%= @indicator.indicator_category.name %>
</p>

<p>
  <strong><%= t('app.common.value') %>:</strong>
  <%= @indicator.value %>
</p>

<p>
  <strong><%= t('app.common.name') %>:</strong>
  <%= @indicator.name %>
</p>

