<% title t('.title') %>
<div class="form-actions">
<%= link_to t('app.buttons.new'),
            new_activity_path,
            :class => 'btn btn-primary' %>
<%= link_to t('app.buttons.admin'), admin_path,
:class => 'btn' %>
</div>

<%= select_tag :election_id, options_from_collection_for_select(@elections_nav, :id, :name, @current_election_id), {:class => :index_election_filter} %>

<% if @activities.blank? %>
	<p>
		<%= t('.no_activities') %>
	</p>
<% else %>

  <table class="table table-striped">
    <thead>
		  <tr>
        <th><%= t('app.common.title') %></th>
        <th><%= t('app.common.date') %></th>
        <th><%= t('app.common.actions') %></th>
		  </tr>
    </thead>
    <tbody>
	  <% @activities.each do |activity| %>
		  <tr>
		    <td><%= link_to activity.title, activity %></td>
		    <td><%= l activity.date, :format => :long if activity.date %></td>
		    <td>
				  <%= link_to t('app.buttons.edit'), edit_activity_path(activity), :class => 'btn btn-mini' %>
          <%= link_to t('app.buttons.delete'),
                      activity,
                      :method => :delete,
                      :confirm => t('app.buttons.confirm'),
                      :class => 'btn btn-mini btn-danger' %>
			  </td>
		  </tr>
	  <% end %>
    </tbody>
  </table>

<% end %>
