<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @activity.title %>
</p>

<p>
  <b>Published at:</b>
  <%= @activity.date %>
</p>

 <div id="activity_image_slider"></div>

<p>
  <b>Body:</b>
  <%= @activity.body %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @activity.images.last.file.url %>
</p>

<p>
  <b>Video:</b>
  <%= video_frame_tag(@activity.video, 300, 200).html_safe %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
